.title {
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 20px;
}

.elephant{
    background-image: url('../button/elephant.png');
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    height: 120px;
    width: 120px;
}

.elephant:hover{
    scale: 120%;
}

.objet{
    background-image: url('../button/objets.png');
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    height: 120px;
    width: 120px;
}

.objet:hover{
    scale: 120%;
}

.nourriture {
    background-image: url('../button/nourriture.png');
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    height: 120px;
    width: 120px;
}

.nourriture:hover {
    scale: 120%;
}

.transport{
    background-image: url('../button/transport.png');
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    height: 120px;
    width: 120px;
}

.transport:hover {
    scale: 120%;
}

.choice {
    height: 120px;
    width: 120px;
    margin-top: 25vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    border: 0;
}

.choice:hover{
    scale: 120%;
}

.next {
    background-color: rgb(3, 212, 3);
    margin-top: 5vh;
    border: 0;
    height: 5vh;
    width: 7vw;
    border-radius: 30px;
}

.next:hover {
    background-color: rgb(1, 161, 1);
}

.name {
    text-decoration: underline;
}

.vetement{
    background-image: url("../button/vetement.png");
    background-color: transparent;
    background-repeat: no-repeat;
    
    border: 0;    
    height: 120px;
    width: 120px;
}

.vetement:hover{
    scale: 120%;
}

.menu {
    text-align: right;
    margin-right: 3vw;
}

.menuButton {
    background-color: rgb(255, 232, 156);
    border-radius: 10px;
    height: 3vh;
    width: 3.5vw;
    border: 0;
}

.menuButton:hover{
    background-color: rgb(248, 226, 152)
}

.REA{
    background-color: rgb(255, 0, 0);
    margin-top: 1vh;
    bottom: 1;
    border: 0;
    width: 20vw;
    height: 40px;
    border-radius: 20px;
}

.REA:hover{
    background-color: rgb(196, 1, 1);
}

.listButton {
    margin-top: 5vh;
    margin-bottom: 5vh;
}